{% extends "base.html" %}

{% block body %}
<h2>Bu kod adı unutma ve gizli tut</h2>
<p class="center">Gerçek kimliğini korumak için sana benzersiz bir kod ad atayacağız.</p>

<hr class="no-line" />

<div class="code">
  <i class="fa fa-lock pull-left"></i><p id="codename">{{ codename }}</p>
  <div class="pull-right">
    <form id="regenerate-form" method="post">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <select name="number-words" id="number-words">
        {% for n in range(7, 11) %}
        <option value="{{ n }}"{% if n == num_words %} selected{% endif %}>{{ n }} kelime</option>
        {% endfor %}
      </select>
      <button type="submit" id="regenerate-submit" class="small">
        <i class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>

<div class="clearfix"></div>
<hr class="no-line">

<p>Bilgiyi yada belgeyi bize gönderdikten sonra sisteme tekrar giriş yapıp bizden sana gelen cevabı görebilmek için <strong>bu kod adı bilmen gerekecek.</strong> Bu, seninle iletişime geçebilmemiz için tek yol.</p>

<p class="serious">Kod adını saklamanın en iyi yolu onu ezberlemektir. Eğer ezberleyemezsen başlangıçta bir kağıda yazmanı ve onu güvenli tutmanı ardından zamanla ezberlemeni tavsiye ederiz. Kod adını ezberledikten sonra da güvenlik amacıyla bu kağıdı yok etmen gerekir.</p>

<hr class="no-line" />

<form id="create-form" method="post" action="/create" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <button type="submit" class="btn block pull-right" id="continue-button"><i class="fa fa-arrow-circle-o-right"></i> Devam et</button>
  <a id="already-have-codename" href="/login">Zaten bir kod adın var mı?</a>
</form>
{% endblock %}
