{% extends "base.html" %}
{% block body %}

<h1>Gizliğini Korumak İçin Javascript'leri Devre Dışı Bırak</h1>

<p>Javascript, interaktif web sayfaları oluşturmak için çokça kullanılan bir programlama dilidir. Malesef ki, Javascript aynı zamanda güvenlik açıklarının ihlal edilmesi konusunda yaygın olarak kullanılan bir dildir. Örneğin, 2013 Ağustos ayında FBI, bir internet tarayıcısının güvenlik açığını Javascript'ler aracılığı ile ihlal ederek “tarayıcısının Javascript'lerini devre dışı bırakmayan” bazı Tor kullanıcılarının kimliklerini öğrenmiştir. Ayrıca amacı Tor kullanıcılarının kimliklerini ortaya çıkartmak olan "Egotistical Giraffe" (http://www.theguardian.com/world/interactive/2013/oct/04/egotistical-giraffe-nsa-tor-document) isimli NSA projesinin, kullanıcıların aktif olan Javascript'leri yoluyla çalıştığı biliniyor.</p>

<p>Bu tür durumlardan dolayı, KARAKUTU kullanıcılarının Javascript'leri engelleyerek kendilerini tarayıcılarına saldırabilecek bazı kodlardan korumalarını ve kendi anonimliklerini arttırmalarını öneriyoruz. Javascript'teki tehlike sadece bu tür exploitlerin kaynağı olması değil, aynı anda da son zamanlarda yapılan bazı saldırılarda kullanılmasıdır. Bundan dolayı Javascript'in engellenmesinin gerekli olduğunu düşünüyoruz.</p>

<p>Tor Browser NoScript isimli, Javascript'leri tamamen engelleyen bir eklentiyle beraber gelmektedir.</p>

<p><strong>Tor Browser Bundle kullanıyorsan Javascript'leri engellemek için, adres çubuğunun solundaki NoScript simgesine (<img src="/static/i/no16.png"/>) tıklayıp "Forbid Scripts Globally (advised)" seçeneğini seçmen yeterli.</strong></p>

{% endblock %}
