<!DOCTYPE html>
<html>
  <head>
    <title>KARAKUTU</title>
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" media="all" />
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <script type="text/javascript" src="/static/js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/source.js"></script>
  </head>
  <body>
    <div class="warning"><strong>Gizliliğinizi koruyabilmeniz için Javascript'leri devre dışı bırakmanızı öneriyoruz:</strong> <a id="disable-js" href="/howto-disable-js">Nasıl devre dışı bırakacağınızı öğrenin</a>, yada bu mesajı görmezden gelerek devam edin. <i id="warning-close" class="fa fa-times"></i></div>

    {% include 'banner_warning_flashed.html' %}

    <div class="content">
      <div class="grid">
        <div id="header">
          <img src="/static/i/{{ header_image }}" class="logo grid-item" alt="SecureDrop">
          {% if use_custom_header_image %}
          <div class="powered">
            Powered by<br/>
            <img src="/static/i/securedrop_small.png" alt="SecureDrop">
          </div>
          {% endif %}
        </div>

        <div class="grid-item option alt">
          <h2>
            İlk kez bilgi yada belge gönder
          </h2>
          <hr class="cut-out" />
          <p>Eğer KARAKUTU'ya ilk kez bilgi göndereceksen buradan başla.</p>
          <hr class="no-line" />
          <a href="/generate" class="btn alt block pull-bottom" id="submit-documents-button"><i class="fa fa-cloud-upload"></i> Bilgi Yada Belge Gönder</a>
        </div>
        <div class="grid-item option">
          <h2>
            Zaten bir şeyler gönderdin mi?
          </h2>
          <hr class="cut-out" />
          <p>Eğer geçmişte zaten bilgi gönderdiysen buradan giriş yaparak cevabımızı kontrol edebilirsin. Bunun için kod adını hatırlamalısın.</p>
          <hr class="no-line" />
          <a href="/login" class="btn block pull-bottom"><i class="fa fa-comments"></i> Cevabı kontrol et/a>
        </div>
      </div>

      <footer>
        Like all software, SecureDrop may contain security bugs. Use at your own risk. Powered by SecureDrop {{ version }}.
      </footer>
    </div>

    <!-- Warning bubble to help TB users disable Javascript with NoScript.
    Included here so the images can preload while the user is first
    reading the page. Hidden by default. -->
    <div class="bubble">
      <p>You appear to be using the Tor Browser. You can disable Javascript in 3 easy steps!</p> 
      <ol>
        <li>Click the <img src="static/i/no16.png"> NoScript icon in the toolbar above</li> 
        <li>Click <strong><img src="static/i/no16-global.png"/> Forbid Scripts Globally (advised)</strong></li> 
        <li>If the page does not refresh automatically, <a href="/">click here</a> to refresh the page</li> 
      </ol>
      <p><a href="/howto-disable-js">Not using the Tor Browser Bundle?</a></p>
    </div>

  </body>
</html>
