{% extends "base.html" %}
{% block body %}

<h2>Cevabımızı kontrol etmek için giriş yap</h2>

{% include 'flashed.html' %}

<form method="post" action="/login" autocomplete="off">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
<p class="center"><input type="text" name="codename" class="codename" autocomplete="off" placeholder="Kod adını gir" autofocus /></p>
<p class="center"><button type="submit" class="btn block"><i class="fa fa-arrow-circle-o-right"></i> Devam et</button></p>
</form>
{% endblock %}
