{% extends "base.html" %}
{% block body %}

<center>
  {% include 'flashed.html' %}

  {% if flagged and not haskey %}
  <p class="notification"> <i class="fa fa-info-circle pull-left"></i> Seni cevap vermek üzere işaretledik ve şu anda sistemimiz iletişimimizin güvenliği için sana bir şifreleme anahtarı üretti. Şifreleme anahtarın üretildiğine göre artık sana cevap verebiliriz. Lütfen kısa bir süre sonra cevabımızı kontrol etmek için kod adınla giriş yap.</p>
  {% endif %}

  <h2 class="headline">Belge yada bilgi gönder</h2>
  <p>Bir dosya, bir mesaj yada ikisini birden gönderebilirsin.</p>

  <hr class="no-line">
</center>

<form id="upload" method="post" action="/submit" enctype="multipart/form-data" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <div class="snippet grid">
    <div class="attachment grid-item">
      <i class="fa fa-cloud-upload upload-icon"></i> <input type="file" name="fh" autocomplete="off">
      <p class="center" id="max-file-size">Maksimum yükleme boyutu: 500 MB</p>
    </div>
    <div class="message grid-item">
      <textarea name="msg" class="fill-parent" placeholder="Add message"></textarea>
    </div>
  </div>

  <hr class="no-line">

  <button type="submit" class="btn primary" href="upload.html"><i class="fa fa-cloud-upload"></i> Submit</button>
</form>

<p><strong>İpucu:</strong> ğer teknik konularda bilgiliyseniz, ekstradan bir güvenlik önlemi daha almak için dosyanızı daha bize göndermeden önce <a href="/journalist-key" class="text-link">KARAKUTU'nun genel anahtarıyla</a> şifreleyebilirsiniz. Dosyalar KARAKUTU'da zaten şifrelenmiş olarak tutuluyor. Göndermeden önce şifrelemek verileriniz KARAKUTUYA ulaşmadan önce fazladan bir katman daha şifrelenmiş olması anlamına geliyor. <a href="/why-journalist-key" class="text-link">Daha fazla bilgi</a>.</p>

<hr class="no-line"/>

<h2 class="headline">Cevaplar</h2>

<div id="replies">
  {% if replies %}
    <p>Bir cevap aldın. Güvenliğin için, cevapları okuyup anladığında onları sil. Ayrıca bu, cevabımızı okuduğunu da anlamamızı sağlar. Bize, yukarıdan yeni bir mesaj gönderecek cevap verebilirsin.</p>
    <hr class="no-line">
    {% for reply in replies %}
      <div class="reply">
        <time class="date" title="{{ reply.date|datetimeformat }}" datetime="{{ reply.date }}">{{ reply.date|datetimeformat(relative=True) }}</time>
        <form class="message" method="post" action="/delete" autocomplete="off">
          <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
          <input type="hidden" name="msgid" value="{{ reply.id }}" autocomplete="off"/>
          <button type="submit"><i class="fa fa-trash-o"></i> Sil</button>
        </form>
        <blockquote>{{ reply.msg | nl2br }}</blockquote>
        <div class="clearfix"></div>
      </div>
    {% endfor %}
  {% else %}
    <p id="no-replies">Şu anda herhangi bir cevap yok.</p>
  {% endif %}
</div>

<hr class="no-line">

<div class="code-reminder">
  <i class="fa fa-lock pull-left"></i> Unutma, kod adın: <strong>{{ codename }}</strong>
</div>

</div>
{% endblock %}
