{% extends "base.html" %}
{% block body %}
<h2>Neden Tor2Web ile ilgili bir uyarı mevcut?</h2>
<p>Tor2Web (http://tor2web.org), Tor kullanmaya gerek olmadan gizli Tor Sitelerini (.onion sitelerini) kullanmanızı sağlar. Amacı anonim yayıncılığı kolaylaştırmaktır.</p>
<p>Tor2Web sadece yayıncıları korumaktadır, kullanıcıları değil. Eğer bize Tor2Web kullanarak bir dosya gönderirsen, <strong>anonim olmuş olmazsın</strong> ve internet sağlayıcın yada Tor2Web hizmeti sağlayıcıları tarafından kimliğin belirlenebilir. Ayrıca, Tor2Web siteleri bazen HTTPS kullandığı için, iyi bir dinleme yazılımına sahip kötü amaçlı kişiler bağlantınızı dinleyebilirler.</p>
Eğer bize bir bilgi göndermek istiyorsanız, size <strong>şiddetle</strong> Tor kullanmanızı (https://www.torproject.org/download.html.en) ve sitemize güvenli-anonim bir şekilde bağlanmanızı tavsiye ediyoruz.
{% endblock %}
